
<br>

<br>

<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary" (click)="open(content)">Create New</button>
    </div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>FullName</th>
      <th>Email</th>
      <th>WebSite</th>
      <th>Age</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let friend of friends">
      <td><span>{{friend.id}}</span></td>
      <td><span>{{friend.fullname}}</span></td>
      <td><span>{{friend.email}}</span></td>
      <td><span>{{friend.website}}</span></td>
      <td><span>{{friend.age}}</span></td>

      <td>
        <button class="btn btn-sm btn-info">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
      
    </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create New</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label for="fullname">FullName</label>
          <div class="input-group">
            <input id="fullname" name="fullname" class="form-control" ngModel>
          </div>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <input id="email" name="email" class="form-control" ngModel>
          </div>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="website">Website</label>
          <div class="input-group">
            <input id="website" name="website" class="form-control" ngModel>
          </div>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="age">Age</label>
          <div class="input-group">
            <input id="age" name="age" class="form-control" ngModel>
          </div>
        </div>
        <div>
            <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info">Submit</button>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
